.results-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.results-pagination-container {
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 60%;
}

.results-pagination-container a{
    height: 1vh;
    width: 7%;
    text-decoration: none;
    font-size: larger;
    margin: 1%;
}

.page-anchor{
    height: 5vh;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-anchor-text{
    font-weight: bolder;
    font-size: larger;
}