<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" >
    <link rel="stylesheet" href="/css/accueil/main.css">
    <link rel="stylesheet" href="/css/accueil/nav-bar.css">
    <link rel="stylesheet" href="/css/accueil/search-container.css">
    <link rel="stylesheet" href="/css/accueil/slogan-container.css">
    <link rel="stylesheet" href="/css/accueil/footer-container.css">

    <title>Accueil</title>
</head>
<body>
    <div class="container">
        <div class="nav-bar">
            <div class="logo-container">
                <h1 class="logo-content">Semssar.ma</h1>
            </div>
            <div class="auth-container">
                <a href="#" class="se-connecter-container">
                    <span>Se Connecter</span>
                </a>
                <a href="#" class="s_inscrire-container">
                    <span>S'inscrire</span>
                </a>
            </div>
        </div>

        <div class="slogan-container">
            <h1 class="slogan-content">Wataa raaaah Dar bla semssar !!!</h1>
        </div>

        <div class="search-container">
            <div class="search-form-container">
                <form  th:action="@{find}" >
                    <div class="search-crt">
                        <select name="ville" id="city" class="input-fields"  >
                            <option disabled="disabled"   selected="selected">Choisisez chi haja</option>
                            <option  th:each="v : ${villes}"  th:text="${v.nom}"></option>
                        </select>

                        <select name="type" id="type" class="input-fields">
                            <option disabled="disabled"   selected="true">Choisisez chi haja</option>
                            <option th:each="t :${types}"   th:text="${t.typeLog}" ></option>
                        </select>

                        <input type="submit" class="submit-btn" value="Rechercher">
                    </div>
                </form>
            </div>
        </div>
        <div class="footer-container">
            <h3 class="footer-content">All copyrights are reserved &copy;</h3>
        </div>
    </div>
</body>
</html>