<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http:///www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/top-nav-bar/top-nav-bar.css">
    <link rel="stylesheet" href="/css/content-container/content-container.css">
    <link rel="stylesheet" href="/css/content-container/sec-nav-bar.css">
    <link rel="stylesheet" href="/css/search-container/search-container.css">
    <link rel="stylesheet" href="/css/slogan-container/slogan-container.css">
    <link rel="stylesheet" href="/css/result-container/result-container.css">
    <link rel="stylesheet" href="/css/result-container/results-pagination.css">
    <title>Home</title>
</head>
<body>
    <div class="main-container">
        <div class="top-nav-bar-container">
            <div class="top-nav-bar">
                <div class="logo-container">
                    <h1 class="logo-content"><a th:href="@{/index}">Semssar.ma</a></h1>
                </div>  

                <div class="user-operations">
                    <a th:href="@{addLogementForm}" class="add-annonce">
                        + Ajouter Annonce
                    </a>

                    <a th:href="@{mes-annonces}"  class="consult-profile">
                        <div class="nav-bar-profile-image-container">
                            <img class="image-cover-circle" src="./img/hamza.jpg" alt="">
                        </div><span th:text="${#authentication.getPrincipal().getUsername()}"></span>
                    </a>
                </div>
            </div>
        </div>

        <div class="content-container">
            <div class="home-container">
                <div class="sec-nav-bar">
                    <div class="sec-nav-bar-item checked-sec-nav-bar-item">Acceuil</div>
                    <div class="sec-nav-bar-item ">Annonces</div>
                    <div class="sec-nav-bar-item">Resultats de votre recherche</div>
                    <div class="sec-nav-bar-item">Details de l'annonce</div>
                </div>

                <div class="slogan-container ">
                    <h1 class="slogan-content">... Trouver un logement facilement !!!</h1>
                </div>

                <div class="search-container">
                    <div class="search-form-container">
                        <form  th:action="@{find}" th:method="get" >
                            <div class="search-crt">
                                <select  id="ville" name="ville"  class="input-fields" >
                                    <option   th:value="Marrakech"  >Marrakech </option>
                                    <option   th:value="Casablanca"  >Casablanca </option>
                                    <option   th:value="Fes"  >Fes </option>
                                    <option   th:value="Agadir"  >Agadir </option>
                                    <option   th:value="Berrechid"  >Berrechid </option>
                                    <option   th:value="Settat"  >Settat </option>
                                    <option   th:value="Tanger"  >Tanger </option>
                                    <option   th:value="Tetouan"  >Tetouan </option>
                                </select>
                                <select  id="type" name="type"  class="input-fields" >
                                    <option   th:value="Villa"  >Villa </option>
                                    <option   th:value="Studio"  >Studio </option>
                                    <option   th:value="Appartement"  >Appartement </option>
                                    <option   th:value="Chambre"  >Chambre </option>
                                </select>
                                <input type="submit" class="submit-btn" value="Rechercher">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>