<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/top-nav-bar/top-nav-bar.css">
    <link rel="stylesheet" href="/css/result-container/result-container.css">
    <link rel="stylesheet" href="/css/content-container/content-container.css">
    <link rel="stylesheet" href="/css/profile-container/profile-container.css">
    <link rel="stylesheet" href="/css/annonces-demandes/details-result-container.css">
    <title>Home</title>
</head>
<body>
    <div class="main-container">
        <div class="top-nav-bar-container">
            <div class="top-nav-bar">
                <div class="logo-container">
                    <h1 class="logo-content">Semssar.ma</h1>
                </div>  

                <div class="user-operations">
                    <a href="#" class="add-annonce">
                        + Ajouter Annonce
                    </a>

                    <a href="#"  class="consult-profile">
                        <div class="nav-bar-profile-image-container">
                            <img class="image-cover-circle" src="./img/consult-profile-image.png" alt="">
                        </div> Hamza Nassour
                    </a>
                </div>
            </div>
        </div>

        <div class="content-container">
            <div class="profile-container">
                <div class="profile-side-bar-container">
                    <div class="profile-side-bar">
                        <div class="profile-data">
                            <div class="profile-img-container">
                                <div class="profile-image">
                                    <img class="image-cover-circle" src="./img/hamza.jpg" alt="">
                                </div>
                            </div>
                
                            <div class="profile-info">
                                <span>Hamza Nassour</span>
                            </div>
    
                            <div class="profile-info">
                                <span>+212 65103232<span>
                            </div>
    
                            <div class="profile-info">
                                <span>nassour@ensa-m.com<span>
                            </div>
                        </div>
    
                        <div class="navigation-links-container">
                            <div class="navigation-links">
                                <a href="#" class="navigation-link">
                                    <span class="title">Mes Annonces ></span>
                                </a>
        
                                <a href="#" class="navigation-link">
                                    <span class="title">Mes Demandes ></span>
                                </a>

                                <a href="#" class="navigation-link">
                                    <span class="title">Editer profile</span>
                                </a>

                                <a href="#" class="navigation-link">
                                    <span class="title">Déconnexion</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="my-annonces-container">
                    <div class="details-main-container">
                        <div class="result-details-container">
                            <div class="card-img-container">
                                <div class="details-img">
                                    <img class="image-cover" src="./img/location.jpg" alt="">
                                </div>
                                <div class="details-img">
                                    <img class="image-cover" src="./img/location.jpg" alt="">
                                </div>
                                <div class="details-img">
                                    <img class="image-cover" src="./img/location.jpg" alt="">
                                </div>
                            </div>
                            <div class="details-content-container">
                                <div class="details-content">
                                    <div class="details-title">
                                        <span class="primary-title">Titre:</span> Daar nadya
                                        <span class="primary-title">Prix:</span> 10000 MAD
                                    </div>
            
                                    <div class="details-title">
                                        <span class="primary-title">
                                            Type:
                                        </span> <span>Villa</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="annonce-container">
                        <div class="annonce">
                            Demande 1:
                            <div class="annonce-image">
                                <img class="image-cover-circle" src="./img/consult-profile-image.png" alt="">
                            </div>
    
                            <div class="annonce-title">
                                Hmida ait embarek
                            </div>
    
                            <div class="annonce-operations">
                                <a href="#" class="annonce-op supprimer-annonce">Refuser</a>
                                <a href="#" class="annonce-op accepter-annonce">Accepter</a>
                            </div>
                        </div>
                    </div>

                    <div class="annonce-container">
                        <div class="annonce">
                            Demande 1:
                            <div class="annonce-image">
                                <img class="image-cover-circle" src="./img/consult-profile-image.png" alt="">
                            </div>
    
                            <div class="annonce-title">
                                Hmida ait embarek
                            </div>
    
                            <div class="annonce-operations">
                                <a href="#" class="annonce-op supprimer-annonce">Refuser</a>
                                <a href="#" class="annonce-op accepter-annonce">Accepter</a>
                            </div>
                        </div>
                    </div>

                    <div class="annonce-container">
                        <div class="annonce">
                            Demande 1:
                            <div class="annonce-image">
                                <img class="image-cover-circle" src="./img/consult-profile-image.png" alt="">
                            </div>
    
                            <div class="annonce-title">
                                Hmida ait embarek
                            </div>
    
                            <div class="annonce-operations">
                                <a href="#" class="annonce-op supprimer-annonce">Refuser</a>
                                <a href="#" class="annonce-op accepter-annonce">Accepter</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        
    </div>
</body>
</html>