<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http:///www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/top-nav-bar/top-nav-bar.css">
    <link rel="stylesheet" href="/css/content-container/content-container.css">
    <link rel="stylesheet" href="/css/content-container/sec-nav-bar.css">
    <link rel="stylesheet" href="/css/search-container/search-container.css">
    <link rel="stylesheet" href="/css/slogan-container/slogan-container.css">
    <link rel="stylesheet" href="/css/result-container/result-container.css">
    <title>Home</title>
</head>
<body>
    <div class="main-container">
        <div class="top-nav-bar-container">
            <div class="top-nav-bar">
                <div class="logo-container">
                    <h1 class="logo-content"><a th:href="@{/index}">Semssar.ma</a></h1>
                </div>  

                <div class="user-operations">
                    <a href="#" class="add-annonce">
                        + Ajouter Annonce
                    </a>

                    <a th:href="@{mes-annonces}"  class="consult-profile">
                        <div class="nav-bar-profile-image-container">
                            <img class="image-cover-circle" src="./img/avatar.png" alt="">
                        </div><span th:text="${#authentication.getPrincipal().getUsername()}"></span>
                    </a>
                </div>
            </div>
        </div>

        <div class="content-container">
            <div class="home-container">
                <div class="sec-nav-bar">
                    <div class="sec-nav-bar-item">Acceuil</div>
                    <div class="sec-nav-bar-item checked-sec-nav-bar-item">Annonces</div>
                    <div class="sec-nav-bar-item">Resultats de votre recherche</div>
                    <div class="sec-nav-bar-item">Details de l'annonce</div>
                </div>

                <div class="slogan-container ">
                    <h1 class="slogan-content">... Trouver un logement facilement !!!</h1>
                </div>

                <div class="search-container">
                    <div class="search-form-container">
                        <form action="#">
                            <div class="search-crt">
                                <select name="city" id="city" class="input-fields" >
                                    <option value="ait ishaq">ait ishaq</option>
                                    <option value="ait ishaq">ait ishaq</option>
                                    <option value="ait ishaq">ait ishaq</option>
                                </select>
                                <select name="type" id="type" class="input-fields">
                                    <option value="ait ishaq">ait ishaq</option>
                                    <option value="ait ishaq">ait ishaq</option>
                                    <option value="ait ishaq">ait ishaq</option>
                                </select>
                                <input type="submit" class="submit-btn" value="Rechercher">
                            </div>
                        </form>
                    </div>
                </div>

                <div class="results-header-container">
                    <div class="results-header">
                        <h2>Nos Annonces premium: 3 resultats</h2>
                    </div>
                </div>    

                <div class="result-container">
                    <div class="results-content">     
                        <div class="result-card">
                            <div class="result-card-img">
                                <img class="image-cover" src="./img/location.jpg" alt="">
                            </div>
                            <div class="result-card-description">
                                <a href="#">
                                    <div class="result-title">
                                        <h3>Villa 400m2 Avec picine</h3>
                                    </div>
                                </a>
    
                                <p class="result-description-text">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus placeat autem aliquid quam minima numquam dolore. Non, dolores! Cumque aliquam fugit ad nulla vitae.
                                </p>
                                <div class="result-details">
                                    <div class="city">
                                        <i class="fa-solid fa-location-arrow"></i>
                                        City: Marrakech
                                    </div>
                                    <div class="type-result">Type: Villa</div>
                                </div>                           
                            </div>
                            <div class="date-of-pub">
                                Postee: le 1 janvier 2018
                            </div>
                        </div>
                    </div>

                    <div class="results-content">     
                        <div class="result-card">
                            <div class="result-card-img">
                                <img class="image-cover" src="./img/location.jpg" alt="">
                            </div>
                            <div class="result-card-description">
                                <a href="#">
                                    <div class="result-title">
                                        <h3>Villa 400m2 Avec picine</h3>
                                    </div>
                                </a>
    
                                <p class="result-description-text">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus placeat autem aliquid quam minima numquam dolore. Non, dolores! Cumque aliquam fugit ad nulla vitae.
                                </p>
                                <div class="result-details">
                                    <div class="city">
                                        <i class="fa-solid fa-location-arrow"></i>
                                        City: Marrakech
                                    </div>
                                    <div class="type-result">Type: Villa</div>
                                </div>                           
                            </div>
                            <div class="date-of-pub">
                                Postee: le 1 janvier 2018
                            </div>
                        </div>
                    </div>

                    <div class="results-content">     
                        <div class="result-card">
                            <div class="result-card-img">
                                <img class="image-cover" src="./img/location.jpg" alt="">

                            </div>
                            <div class="result-card-description">
                                <a href="#">
                                    <div class="result-title">
                                        <h3>Villa 400m2 Avec picine</h3>
                                    </div>
                                </a>
    
                                <p class="result-description-text">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus placeat autem aliquid quam minima numquam dolore. Non, dolores! Cumque aliquam fugit ad nulla vitae.
                                </p>
                                <div class="result-details">
                                    <div class="city">
                                        <i class="fa-solid fa-location-arrow"></i>
                                        City: Marrakech
                                    </div>
                                    <div class="type-result">Type: Villa</div>
                                </div>                           
                            </div>
                            <div class="date-of-pub">
                                Postee: le 1 janvier 2018
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>