<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http:///www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/top-nav-bar/top-nav-bar.css">
    <link rel="stylesheet" href="/css/content-container/content-container.css">
    <link rel="stylesheet" href="/css/content-container/sec-nav-bar.css">
    <link rel="stylesheet" href="/css/search-container/search-container.css">
    <link rel="stylesheet" href="/css/slogan-container/slogan-container.css">
    <link rel="stylesheet" href="/css/result-container/result-container.css">
    <link rel="stylesheet" href="/css/details-result-container/details-result-container.css">
    <title>Home</title>
</head>
<body>
    <div class="main-container">
        <div class="top-nav-bar-container">
            <div class="top-nav-bar">
                <div class="logo-container">
                    <h1 class="logo-content"><a th:href="@{/index}">Semssar.ma</a></h1>
                </div>  

                <div class="user-operations">
                    <a th:href="@{addLogementForm}" class="add-annonce">
                        + Ajouter Annonce
                    </a>

                    <a th:href="@{mes-annonces}"  class="consult-profile">
                        <div class="nav-bar-profile-image-container">
                            <img class="image-cover-circle" src="./img/avatar.png" alt="">
                        </div><span th:text="${#authentication.getPrincipal().getUsername()}"></span>
                    </a>
                </div>
            </div>
        </div>

        <div class="content-container">
            <div class="home-container">
                <div class="sec-nav-bar">
                    <div class="sec-nav-bar-item">Acceuil</div>
                    <div class="sec-nav-bar-item">Annonces</div>
                    <div class="sec-nav-bar-item">Resultats de votre recherche</div>
                    <div class="sec-nav-bar-item checked-sec-nav-bar-item">Details de l'annonce</div>
                </div>

                <div class="details-main-container">
                    <div class="result-details-container">
                        <div class="card-img-container">
                            <div class="details-img" th:each="media :${logements.getMedias()}">
                                <img class="image-cover" th:src="@{${ media.path}}" alt="">
                            </div>
                        </div>
                        <div class="details-content-container">
                            <div class="details-content">
                                <div class="details-title">
                                    <span class="primary-title">Titre:</span><span th:text="${logements.getTitre()}"></span>
                                    <span class="primary-title">Prix:</span> <span th:text="${logements.getPrix()}"></span>
                                </div>
        
                                <div class="details-title">
                                    <span class="primary-title">
                                        Type:<span th:text="${logements.getType()}"></span>
                                    </span> <span th:text="${logements.getVille()}"></span>
                                </div>
            
                                <div class="details-description">
                                    <span class="primary-title">Description</span>
                                    <span class="description-text-content" th:text="${logements.getDescription()}">
                                    </span>
                                </div>
        
                                <form th:action="@{/reserver}" th:method="post">
                                    <input type="text" th:name="id" th:value="${logements.id}" hidden >
                                    <input type="submit" value="Demander ce logement" class="">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        
    </div>
</body>
</html>