<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/top-nav-bar/top-nav-bar.css">
    <link rel="stylesheet" href="/css/content-container/content-container.css">
    <link rel="stylesheet" href="/css/content-container/sec-nav-bar.css">
    <link rel="stylesheet" href="/css/search-container/search-container.css">
    <link rel="stylesheet" href="/css/slogan-container/slogan-container.css">
    <link rel="stylesheet" href="/css/result-container/result-container.css">
    <link rel="stylesheet" href="/css/details-result-container/details-result-container.css">
    <title>Home</title>
</head>
<body>
    <div class="main-container">
        <div class="top-nav-bar-container">
            <div class="top-nav-bar">
                <div class="logo-container">
                    <h1 class="logo-content">Semssar.ma</h1>
                </div>  

                <div class="user-operations">
                    <a href="#" class="add-annonce">
                        + Ajouter Annonce
                    </a>

                    <a href="#"  class="consult-profile">
                        <div class="nav-bar-profile-image-container">
                            <img class="image-cover-circle" src="./img/consult-profile-image.png" alt="">
                        </div> Hamza Nassour
                    </a>
                </div>
            </div>
        </div>

        <div class="content-container">
            <div class="home-container">
                <div class="sec-nav-bar">
                    <div class="sec-nav-bar-item">Acceuil</div>
                    <div class="sec-nav-bar-item">Annonces</div>
                    <div class="sec-nav-bar-item">Resultats de votre recherche</div>
                    <div class="sec-nav-bar-item checked-sec-nav-bar-item">Details de l'annonce</div>
                </div>

                <div class="details-main-container">
                    <div class="result-details-container">
                        <div class="card-img-container">
                            <div class="details-img">
                                <img class="image-cover" src="./img/location.jpg" alt="">
                            </div>
                            <div class="details-img">
                                <img class="image-cover" src="./img/location.jpg" alt="">
                            </div>
                            <div class="details-img">
                                <img class="image-cover" src="./img/location.jpg" alt="">
                            </div>
                        </div>
                        <div class="details-content-container">
                            <div class="details-content">
                                <div class="details-title">
                                    <span class="primary-title">Titre:</span> Daar nadya
                                    <span class="primary-title">Prix:</span> 10000 MAD
                                </div>
        
                                <div class="details-title">
                                    <span class="primary-title">
                                        Type:
                                    </span> <span>Villa</span>
                                </div>
            
                                <div class="details-description">
                                    <span class="primary-title">Description</span>
                                    <span class="description-text-content">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Corporis, quam deleniti cupiditate unde magnam impedit a ab obcaecati perferendis modi consequatur, deserunt distinctio, saepe atque.
                                        Rem laudantium rerum ipsa veritatis?
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam cum repudiandae qui impedit nihil nam iusto repellendus. Ratione perspiciatis earum eum similique, fugit dolor laudantium, eaque, neque voluptatum libero quibusdam!
                                    </span>
                                </div>
        
                                <form action="" >
                                    <input type="submit" value="Demander ce logement" class="">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        
    </div>
</body>
</html>