<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http:///www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/top-nav-bar/top-nav-bar.css">
    <link rel="stylesheet" href="/css/result-container/result-container.css">
    <link rel="stylesheet" href="/css/content-container/content-container.css">
    <link rel="stylesheet" href="/css/profile-container/profile-container.css">
    <title>Home</title>
</head>
<body>
    <div class="main-container">
        <div class="top-nav-bar-container">
            <div class="top-nav-bar">
                <div class="logo-container">
                    <h1 class="logo-content">Semssar.ma</h1>
                </div>  

                <div class="user-operations">
                    <a th:href="@{addLogementForm}" class="add-annonce">
                        + Ajouter Annonce
                    </a>

                    <a href="#"  class="consult-profile">
                        <div class="nav-bar-profile-image-container">
                            <img class="image-cover-circle" src="./img/consult-profile-image.png" alt="">
                        </div><span th:text="${#authentication.getPrincipal().getUsername()}"></span>
                    </a>
                </div>
            </div>
        </div>

        <div class="content-container">
            <div class="profile-container">
                <div class="profile-side-bar-container">
                    <div class="profile-side-bar">
                        <div class="profile-data">
                            <div class="profile-img-container">
                                <div class="profile-image">
                                    <img class="image-cover-circle" th:src="@{${client.img}}" />
                                </div>
                            </div>

                            <div class="profile-info">
                                <span th:text="${client.nom}"></span> &nbsp; <span th:text="${client.prenom}"></span>
                            </div>

                            <div class="profile-info">
                                <span th:text="${client.phone}"></span>
                            </div>

                            <div class="profile-info">
                                <span th:text="${client.email}"></span>
                            </div>
                        </div>

                        <div class="navigation-links-container">
                            <div class="navigation-links">
                                <a th:href="@{mes-annonces}" class="navigation-link">
                                    <span class="title">Mes Annonces ></span>
                                </a>

                                <a href="#" class="navigation-link">
                                    <span class="title">Mes Demandes ></span>
                                </a>

                                <a href="#" class="navigation-link">
                                    <span class="title">Editer profile</span>
                                </a>
                                <a th:href="@{/logout}" class="navigation-link">
                                    <span class="title">Déconnexion</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="my-annonces-container">
                    <div class="results-header-container">
                        <div class="results-header">
                            <h2>Mes Annonces</h2>
                        </div>
                    </div>
                    
                    <div class="annonce-container" th:each="log :${logements}">
                        <div class="annonce">
                            <div class="annonce-image">
                                <img  class="image-cover" th:src="@{ ${ log.getMedias()[0].path}}" />
                            </div>
    
                            <div class="annonce-title" th:text="${log.getTitre()}">

                            </div>
    
                            <div class="annonce-operations">
                                <a href="#" class="annonce-op supprimer-annonce">Supprimer</a>
                                <a href="#" class="annonce-op modifier-annonce">Modifier</a>
                            </div>
                        </div>
                    </div>

                    <







                </div>
            </div>
        </div>
        
    </div>
</body>
</html>