<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http:///www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/se_connecter/se_connecter.css">
    <link rel="stylesheet" href="/css/se_connecter/slogan-container.css ">
</head>
<body>
    <div class="main-container">
        <div class="se_connecter-header">
            <div class="logo-container">
                <h1 class="logo-content"><a th:href="@{/index}">Semssar.ma</a></h1>
            </div>
        </div>

        <div class="slogan-container ">
            <h1 class="slogan-content">Connectez-vous à votre compte</h1>
        </div>

        <div class="log-in-container">
            <form th:action="@{/login}" th:method="post">
                <input type="text" name="username" class="log-in-input-field">
                <input type="password" name="password" class="log-in-input-field">
                <input type="submit" value="Se connecter" class="log-in-input-field log-in-input-submit">
            </form>
        </div>
    </div>
</body>
</html>